*{
  box-sizing: border-box;
}
.wrap{
  position: relative;
  overflow: hidden;
  min-width: 1400px;
}
.group_flex{
  margin: 0 104px 0 104px;
  padding: 0 30px 0 30px;
}
.service_area{
  width: 100%;
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.set_home a:link,
.set_home a:visited,
.go_junior a,
.go_happybean a {
  text-decoration: none;
}
.set_home a:hover,
.set_home a:active{
    text-decoration: underline;
}
.go_junior a:hover{
  background-image: linear-gradient(90deg, red, orange, yellow, green, blue, navy, purple);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
  font-size: 12px;
}
.go_happybean a:hover{
  font-weight: bold;
  color: green;
}

.start_page,
.go_junior,
.go_happybean{
  margin: 10px 20px 10px 20px;
  color: black;
}
.logo_area{
  width: 100%;
  display: flex;
  font-size: 40px;
  font-weight: 900;
  margin: 10px;
  padding: 10px;
  align-items: center;
}
.main_title{
  display: flex;
  align-items: center;
}
.main_title-text{
  display: flex;
  font-size: 100;
  color: #04D061;
  margin: 10px 20px 10px 20px;
}
.search_area{
  display: flex;
  height: 60px;
}
.input_text{
  height: 100%;
  width: 540px;
  font-size: 30px;
  border-style: none;
}
.input_text:focus{
  outline: none;
}
.search_window{
  display: flex;
  border: 3px solid #04D061;
  align-items: center;
}
.search_keyboard,
.search_list{
  font-size: 30px;
  margin: 10px;
}
.search_list{
  color: #04D061;
}
.search_icon{
  display: flex;
  padding: 5px;
  margin: 0px;
  background-color: #04D061;
  color: white;
  font-size: 40px;
  width: 72.8px;
  align-items: center;
  justify-content: center;
}
.gnb_inner{
  display: relative;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0 50px 0 10px;
  border-top: 1px solid gray;
  border-bottom:1px solid gray;
}
.list_nav,
.list_nav_favorite_list{
  float: left;
  font-size: 15px;
  list-style: none;
  font-weight: 700;
  line-height: 30px;
  align-items: center;
  padding: 11px 0 11px 0;
  margin: 0 0 0 20px;
}
.list_nav_favorite_list .nav_item a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.group_nav{
  display: relative;
  margin-right: 50px;
}
.nav_item{
  float: left;
  margin: 0 0 0 10px;
  display: inline-block;
  text-align: center;
  width: 50px;
}
.list_nav .nav_item a{
  text-decoration: none;
  color: #04D061;
  font-weight: bold;
  font-size: 15px;

}
.block{
  position: absolute;
  top: 0;
  bottom: 0;
  list-style: none;
  text-align: center;
  height: 52px;
  width: 100%;
  overflow: hidden;
}
#ticker{
  float: left;
  width: 100%;
  height: 40px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.block li{
  list-style: none;
}
#container{
  position: relative;
  width: 1130px;
  padding: 20px 30px;
  margin: 0 auto;
}
.iframe{
  overflow: hidden;
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: top;
}
.sc_newscast{
  width: 750;
  margin-top: 12px;
}
.group_issue{
  position: relative;
  padding: 12px 15px 11px 15px;
  background-color: #f7f9fa;
  border: 1px solid #dae1e6;
  height: 49px;
}
.issue_area{
  float: left;
}
.link_media{
  float: left;
  margin-right: 7px;
  color: black;
  font-weight: 700;
  font-size: 13px;
  text-decoration: none;
}
.list_issue{
  overflow: hidden;
  float: left;
  width: 310px;
  height: 24px;
}
.viewport{
  position: relative;
  z-index: 0;
  overflow: hidden;
  min-width: 100%;
  height: 100%;
  width: 310px;
}
.column_left{
  float: left;
  width: 750px;
}
.panel{
  position: absolute;
  top: 0px;
  font-size: 13px;
  display: block;
}
.direct_area{
  float: right;
  font-weight: 700;
}
.link_news{
  color: #3565c9;
  text-decoration: none;
  float: left;
  height: 24px;
}
.link_direct{
  color: black;
  margin: 0px 4px 0 7px;
  float: left;
  height: 24px;
  font-size: 13px;
  text-decoration: none;
}
.group_title{
  padding: 22px 0 32px;
  font-size: 14px;
}
.link_newsstand{
  float: left;
  color: black;
  font-weight: 700;
  text-decoration: none;
}
.sort_area{
  float: left;
  margin-left: 10px;
}
.set_area{
  float: right;
}
.btn_set{
  float: left;
  padding: 0 9px;
  text-decoration: none;
  color: gray;
}
.btn_sort{
  font-size: 14px;
  color: black;
  text-decoration: none;
}
.btn_sort.sort_on{
  color: black;
  font-weight: 700;
}
.NEWSSTAND_VIEW_CONTAINER{
  position: relative;
}
.group_news{
  position: relative;
  height: 260px;
  border: 1px solid #dae1e6;
  border-width: 1px 0;
}
.UI_PAGE_CONTAINER{
  height: 100%;
}
.tile_view{
  position: relative;
  height: 260px;
  border: 1px solid #dae1e6;
  border-width: 0 1px;
}
.tile_item{
  position: relative;
  float: left;
  width: 16.66%;
  height: 65px;
  border-right: 0.1px solid #dae1e6;
  border-bottom: 0.1px solid #dae1e6;
}
.thumb{
  display: block;
  padding: 23px 0 22px;
  text-align: center;
}
.thumb_luxury{
  padding: 10px;
  display: block;
  text-align: center;
}
#end{
  border-right: 0;
}
.column_right{
  float: right;
  width: 300px;
}
.column_fix_wrap{
  position: relative;
  width: 300px;
}
.sc_login{
  padding: 16px 16px 12px 17px;
  border: 1px solid #dae1e6;
}
.login_msg{
  font-size: 12px;
  padding-left: 3px;
  color: grey;
}
a {
  text-decoration: none;
}
a h2{
  display: inline-block;
  font-weight: 700;
  color: white;
}
.link_login{
    display: block;
    padding: 15px 0;
    background-color: #19ce60;
    color: white;
    text-align: center;
}
.sub_area{
  margin: 12px 6px 0 2px;
  font-size: 12px;
  display: inline-block;
}
.link_join{
  float: right;
  text-decoration: none;
  font-size: 12px;
  color: black;
  margin: 12px 6px 0 2px;
}
.veta_branding{
  position: relative;
  margin-top: 10px;
}
